* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

html {
    font-family: 'Red Hat Display', sans-serif;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 600;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em;
}

a {
    color: #000;
    text-decoration: none;
}

main section.hero {
    display: flex;
    flex-direction: row;
}

div.hero-left {
    width: 50%;
}

div.hero-right {
    flex-direction: column;
}

div.hero-right h1 {
    font-size: 6em;
    line-height: 110px;
}

div.hero-right p {
    font-size: 3em;
}

section.page-nav {
    background-color: #B41C13;
    border: #000 .4em;
}

.page-nav nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
    padding: 1.5em;
    width: 100%;
    max-width: 75vw;
    margin: 0 auto;
}

nav a {
    display: flex;
    flex-direction: column;
    gap: .25em;
}

section.about-me {
    max-width: 75vw;
    margin: 0 auto;
}

div.about-me-overview {
    display: flex;
    flex-direction: row;
    font-size: 2em;
}

div.about-me-overview div h1 {
    font-size: 3em;
    margin: 0;
}

div.about-me-experience {
    display: flex;
    flex-direction: row;
    gap: 2em;
    flex-wrap: nowrap;
}

div.experience-tile {
    display: flex;
    flex-direction: column;
    min-width: 40%;
}

div#tile-top {
    display: flex;
    flex-direction: row;
}

div#exp-title {
    flex-direction: column;
    padding: 1em;
}

.flex-left {
    width: 50%;
    flex-direction: column;
}

.overflow-scroll {
    overflow-x: scroll;
}